@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;900&display=swap');

* {
    margin: 0;
    border-radius: 4px;
}

body {
    background-color: #fff;
    color: #1F1D36;
    font-family: 'Noto Sans', sans-serif;
}

input {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-style: none;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

input:focus {
    outline: none;
}

.container {
    box-sizing: border-box;
    background-color: #1F1D36;
    color: #fff;
    width: 80vw;
    margin: auto;
    min-height: 80vh;
    padding: 5%;
    box-shadow: 0 0 8px 2px #3F3351;
}

.top-container {
    margin: 1% auto;
    pointer-events: none;
    text-align: center;
}

.input-container {
    margin-top: 20px;
    display: flex;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    border-style: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fff;
    color: #00000088;
    padding: 5px 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.7) ;
}

.posts > div {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.7);
    color: #1F1D36;
    padding: 1%;
    justify-content: space-between;
    align-items: flex-start;
}

.icon-btn {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
}

.btn-icon {
    width: 1rem;
    border-style: none;
}

#task-title {
    font-size: 1.2rem;
    margin-bottom: 2px;
}

#warning {
    color: red;
    font-size: 0.9rem;
}

